.accordion {
  max-width: 600px;
  margin: 0 auto;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-header {
  background-color: #f5f5f5;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.accordion-header.active {
  background-color: #ddd;
}
.accordion-content {
  padding: 15px;
  display: none;
}
h1 {
  text-align: center;
}
h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
